body  {
  font-family: 'Work Sans', sans-serif;
}

.container-fluid  {
  background-image: linear-gradient( rgb(189, 239, 241),  rgb(189, 239, 241), #20c997);
  overflow-x: hidden;
}


.backgroundDark {
  background-color: rgba(90, 88, 88, 0.8);
}

.backgroundLight {
  background-color: rgba(218, 218, 218, 0.68);
}



.navbar {
  background-color:rgb(189, 239, 241);
  height: 4.5rem;
  color: whitesmoke;
  text-shadow: 0px 0px 3px black;
  position: fixed;
  top: 0;
  width: 99%;
  z-index: 1;
  display: flex;
  flex-direction: row;
font-family: 'Work Sans', sans-serif;

}

.name {
  display: flex;
  margin-top: .75rem;
  justify-content: flex-start;
}

.stuff {
  margin-top: .5rem; 
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.content {
    background-image: url("mountainlake.jpeg");
  color: honeydew;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 5rem;
}

.content h1{
  text-shadow: 0px 0px 20px black;
font-family: 'Nixie One', cursive;
}
.content h4{
  display: flex;
  flex-direction: column;
  text-shadow: 0px 0px 10px black;
font-family: 'Nixie One', cursive;}

.name-1 {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects {
  padding-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  color: cornflowerblue;
  text-shadow: 0px 0px 5px;
}

.contact {
  color: whitesmoke;
  text-shadow: 0px 0px 3px black;
}

.contact-2  {
  display: flex;
  flex-direction: column;

}

.devicon-mysql-plain {
  padding-top: .6rem;
  font-size: 4rem;
}

.devicon-dot-net-plain {
  padding-top: .6rem;
  font-size: 4rem;
}
.devicon-csharp-line{
  padding-top: .6rem;
  font-size: 4rem;
  /* text-shadow: 0px 0px 1px black; */
}